# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.pytest_cache/
.coverage*

# Node/Frontend
frontend/captura-frontend/node_modules/
frontend/captura-frontend/dist/

# Env files (no subir secretos)
env/
*.env
.env

# OS/editor
.DS_Store
.idea/
.vscode/
*.log

